# Whatever location this machine hits the wiki from
site = "http://localhost/mediawiki/"

# A torque user in the sysop group, usually Admin
user = "__USERNAME__"

# And password for that user
password = "__PASSWORD__"
