collections = {
  "COLLECTION1": "WIKI1",
  "COLLECTION2": "WIKI2",
}

group = "__GROUP__"

column_mapping = {
  "OLD_COLUMN1": "NEW_COLUMN1",
  "OLD_COLUMN2": "NEW_COLUMN2",
  "OLD_COLUMN3": "NEW_COLUMN3",
}
