{#
  This is a jinja template that loops over the provided proposals and then
  uses the `toc_lines` variable to get the TOC template rendered information.
  Note that it's just creating a MediaWiki list using MediaWiki markup via the
  `*` at the beginning.  You could use `1.` or similar if you wanted a
  different type of list.  Also note that even though there's no supporting
  data, we still need a json file when uploading.
#}
{%- for proposal_id in proposal_ids %}
    {%- if proposal_id in proposals.keys() -%}
* {{ toc_lines[proposal_id] }}
{% endif -%}
{% endfor %}
