{#
  The jinja template is looping over all the data present in Population.json,
  then ascertaining which proposals the user has access to via the `proposals`
  field.  After it ensures that the user has access to at least 1 proposal
  in that population group, it displays the population name as a wiki header,
  and then loops over all the proposals matched to that population.  It then
  uses the TOC template via the `toc_lines` variable to put out the markup
  representing that proposal.
#}

__TOC__
{% for group_name, proposal_ids in groups.items() %}
    {%- set proposals_in_group = [] %}
    {%- for proposal_id in proposal_ids %}
        {%- if proposal_id in proposals.keys() %}
            {{- "" if proposals_in_group.append(proposal_id) }}
        {%- endif %}
    {%- endfor %}
    {%- if proposals_in_group|length > 0 %}
<div id='{{ group_name }}'></div>
= {{ group_name }} ({{ proposals_in_group|length }}) =
        {%- for proposal_id in proposals_in_group %}
* {{ toc_lines[proposal_id] }}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
