/* CSS styles for TeamComments extension */

.teamcomments-body {
  border:1px solid black;
  background-color:#F2F2F2;
  padding:10px;
}

.teamcomments-refresh-banner-container {
  padding:8px;
}

.teamcomments-refresh-banner {
  padding:5px 15px 5px 15px;
  border:1px solid black;
  background-color:#F8F8F8;
  display:inline;
}

/* We hide like this so it still is accessible */
.teamcomments-hiddenlabel {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.mw-body-content .teamcomments-body h1 {
  padding-top:0px;
  margin-top:0px;
}

.full {
}

.c-item {
  position: relative;
/* this works for Monaco, but not for Monobook.
Besides, ny.css sets it back to 10px anyway, so this way everyone can be happy.
  padding: 0px 0px 10px 0px;*/
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 5px 0px;
  border:1px solid #CCCCCC;
  background-color:#F8F8F8;
}

.teamcomment-highlighted {
  border:1px solid #666666;
  background-color:#FFFFEE;
}

.reply {
  margin-left: 40px !important;
}

.c-container {
  position: relative;
  top: 0px;
  margin-left: 10px;
}

.c-user {
  font-weight: bold;
  position: relative;
  margin: 0px 0px 6px 0px;
}

.c-user a.username {
  font-size: 14px;
  text-decoration: none;
}

.c-time {
  display: inline;
  font-size: 10px;
  color: #888;
  line-height: 11px !important;
  font-weight: normal !important;
}

.c-user-level {
  color: #666;
  font-size: 11px;
  margin: 0px 5px 0px 5px;
}

.c-teamcomment {
  overflow: auto;
}

.f-message {
}

.r-message {
}

.c-actions {
  font-size: 10px;
  margin: 10px 0px 0px 0px;
}

.c-delete a {
  color: red !important;
}

.teamcomment-showedit .teamcomment-editarea {
  display:block;
}

.teamcomment-showedit .c-teamcomment {
  display:none;
}

.teamcomment-editarea {
  display:none;
}

.teamcomments-body textarea {
  max-width: 530px;
  height: 300px;
}

.c-form-title {
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin: 0px 0px 5px 0px;
}

.c-cheatsheet {
  font-weight:normal;
  font-size:14px;
}

.c-form-message {
  font-size: 11px;
  max-width: 400px;
  line-height: 13px;
  color: #666;
  padding: 5px 0px 10px 0px;
}

textarea#teamcomment {
  max-width: 530px;
}

.c-form-button {
  padding: 10px 0px 0px;
}

.c-spy {
  float: left;
  font-size: 10px;
  margin: 0px 0px 0px 10px;
}

.cod img {
  margin-bottom: 8px;
}

.special-teamcomments-list div.c-actions {
  display: none;
}
