# Database configuration for torquedata
POSTGRES_DB_NAME="__DATABASE_NAME__"
POSTGRES_DB_USER="__DATABASE_USER__"
POSTGRES_DB_PASSWORD="__DATABASE_PASSWORD__"

# Secret key as needed by django.  See
# https://docs.djangoproject.com/en/3.1/ref/settings/#std:setting-SECRET_KEY
SECRET_KEY="__RANDOM_SECRET_KEY__"

