[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
jinja2 = "*"
werkzeug = "*"
psycopg2-binary = "*"
whoosh = "*"
django-extensions = "*"
python-magic = "*"
mwclient = "*"

[requires]
python_version = "3.7"
